* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container-pai {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1200px;
  height: 800px;
  display: grid;
  grid-area: " a b c d " " e f g h ";
}
