* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* MAIN CONFIG ==================================================== */
.container-pai {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1000px;
  height: 800px;
  display: grid;
  grid-template-areas:
    " a a c d "
    " e f f d";
}

.testemunho_daniel-box {
  grid-area: a/a;
}

.testemunho_jonathan-box {
  grid-area: c;
}

.testemunho_jaenette-box {
  grid-area: e;
}

.testemunho_patrick-box {
  grid-area: f/f;
}

.testemunho_kira-box {
  grid-area: d/d;
}

/* MAIN CONFIG ==================================================== */
